<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Screen</title>
    <link rel="stylesheet" href="styles/agent.css" />
  </head>
  <body>
    <div class="left-pane">
      <!-- Left pane content goes here -->
    </div>
    <div class="left-pane-2" id="leftPane2">
      <!-- Left pane content goes here -->
    </div>

    <div class="screen">
      <div class="inbox">
        <!-- Inbox content goes here -->
        <h2>Inbox</h2>
        <div id="chat" class="chat">
          <!-- Chat messages will be displayed here -->
          <!-- Example of incoming message -->

          <!-- Example of sent message -->
        </div>
        <div class="input-box">
          <input
            type="text"
            id="messageInput"
            placeholder="Type a message..."
          />
          <button id="sendMessage" class="button-blue">Send</button>
        </div>
      </div>
    </div>
    <div class="right-pane">
      <!-- Right pane content goes here -->
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="js/agent.js"></script>
  </body>
</html>
